numba>=0.57.0
numpy>=1.23.0,<2.0
open3d>=0.16.0
opencv-python>=4.6.0
PyYAML>=6.0
setuptools>=65.0
tensorboard>=2.10.0
--extra-index-url https://download.pytorch.org/whl/cu118
torch>=2.0.0
torchvision>=0.15.0
tqdm>=4.64.0